{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
    <a href="/post/{{post.key.id()}}"><h2>{{post.subject}}</h2></a>
    <p>
      {{post.content}}
    </p>
    <p style="color: grey;">
      {{post.creator}}
    </p>
    {% endfor %}

    <div class="buttons">
        <a href="/login">
            <button type="button" name="btn-login" class="btn btn-default">Login</button>
        </a>

        <a href="/signup">
            <button type="button" name="btn-signup" class="btn btn-primary">Sign Up</button>
        </a>

    </div>

{% endblock %}
