{% extends "base.html" %}

{% block content %}

<form method="post">
    <span>{{login_error}}</span>
    <div class="form-group">
        <label for="username">Username </label>
        <input type="text" name="username" value="{{username}}">
    </div>
    <div class="form-group">
        <label for="password">Password </label>
        <input type="password" name="password">
    </div>
  <!-- <table>
    <tbody>
      <tr>
        <td class="label">
          Username
        </td>
        <td>
          <input type="text" name="username" value="{{username}}">
        </td>
      </tr>
      <tr>
        <td class="label">
          Password
        </td>
        <td>
          <input type="password" name="password">
        </td>
      </tr>
      <tr>
          <td class="error">
              {{login_error}}
          </td>
      </tr>
    </tbody>
  </table> -->
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/signup">
      <button type="button" name="btn-signup" class="btn btn-default">Sign Up</button>
  </a>
</form>



{% endblock %}
