{% extends "base.html" %}

{% block content %}

<div class="error" style="color: red">
    {{error}}
</div>

<div class="post">
    {% if isUserPost %}
        <a href="/editpost/{{post_id}}"><button name="edit-btn" class="btn btn-default">Edit post</button></a>
        <a href="/deletepost/{{post_id}}"><button name="delete-btn" class="btn btn-danger">Delete post</button></a>
    {% endif %}
    <h2>{{post.subject}}</h2>
    <p>
      {{post.content}}
    </p>
    <p style="color: grey;">
      {{post.creator}}
    </p>

    <form method="post">
        <input type = "hidden" name = "form_name" value = "like">
        <div class="like_error" style="color: red">
            {{like_error}}
        </div>
        <div class="likes">
            <input type="submit" name="like" value="{{like}} post" class="btn btn-default">
            <span style="color: blue; font-size: 1.3em">
              {{likes}} likes
          </span>
        </div>
    </form>
</div>

<div class="comments">
    <h4>Comments:</h4>
    {% for comment in comments %}
        {% if comment.creator == username %}
            <a href="/editcomment/{{comment.key.id()}}"><button type="button" name="edit-comment-btn" class="btn btn-default">Edit comment</button></a>
        {% endif %}
    <p>{{comment.content}}</p>

    <p style="color: grey;">
      {{comment.creator}}
    </p>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <input type = "hidden" name = "form_name" value = "comment">
            <div class="comment_error" style="color: red">
                {{comment_error}}
            </div>
        </div>

        <div class="form-group comments">
                <input type="text" name="comment-content" placeholder="Add a new comment">
                <button type="submit" name="commment-btn" class="btn btn-primary">Comment</button>
        </div>
    </form>
</div>



{% endblock %}
