{% extends "base.html" %}

{% block content %}

    <form method="post">
        <span class="error">{{username_error}}</span>
        <div class="form-group">
            <label for="username">Username </label>
            <input type="text" name="username" value="{{username}}">
        </div>
        <span class="error">{{password_error}}
</span>

        <div class="form-group">
            <label for="password">Password </label>
            <input type="password" name="password">
        </div>
        <span class="error">{{verify_error}}
</span>

        <div class="form-group">
            <label for="">Verify password </label>
            <input type="password" name="verify">
        </div>

        <span class="error">{{email_error}}</span>
        <div class="form-group">
            <label for="">Email (optional) </label>
            <input type="email" name="email" value="{{email}}">
        </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/login">
          <button type="button" name="btn-login" class="btn btn-default">Login</button>
      </a>
    </form>



{% endblock %}
